<footer class="footer border-top px-4 py-3 bg-light text-muted mt-auto">
  <div class="d-flex flex-wrap justify-content-between align-items-center">
    <div class="footer-links d-flex gap-3 flex-wrap">
      <p class="mb-0">© 2023 Airbnb, Inc. All rights reserved.</p>
      <a href="#">Terms</a>
      <a href="#">Privacy</a>
      <a href="#">Sitemap</a>
      <a href="#">Company Details</a>
    </div>
    <div class="socials d-flex gap-3">
      <a href="#"><i class="fa-brands fa-facebook"></i></a>
      <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
      <a href="#"><i class="fa-brands fa-instagram"></i></a>
    </div>
  </div>
</footer>
