<footer class="footer border-top border-1 px-4 py-3 text-muted mt-auto" style="color:7a00ff;">
  <div class="d-flex flex-wrap justify-content-between align-items-center">
    <div class="footer-links d-flex gap-3 flex-wrap">
      <p class="mb-0" style="font-weight: 700">© 2023 Airbnb, Inc. All rights reserved.</p>
      <a class="link" style="text-decoration: none; color: white; font-weight: 400" href="#">Terms</a>
      <a class="link" style="text-decoration: none; color: white; font-weight: 400" href="#">Privacy</a>
      <a class="link" style="text-decoration: none; color: white; font-weight: 400" href="#">Sitemap</a>
      <a class="link" style="text-decoration: none; color: white; font-weight: 400" href="#">Company Details</a>
    </div>
    <div class="socials d-flex gap-3">
      <a href="#" style="text-decoration: none; color:inherit;"><i class="fa-brands fa-facebook"></i></a>
      <a href="#" style="text-decoration: none; color: inherit;"><i class="fa-brands fa-x-twitter"></i></a>
      <a href="#" style="text-decoration: none; color: inherit;"><i class="fa-brands fa-instagram"></i></a>
    </div>
  </div>
</footer>
