<% layout('layouts/boiler') %>
<div class="bookingdone d-flex justify-content-center align-items-center flex-column mt-4">
<h1 class="mt-3">Booking Confirmed!</h1>
<i class="fa-solid fa-circle-check mt-3" style="color: #63E6BE;"></i>
<p class="mt-3">Your stay has been successfully booked. We can't wait to host you!</p>

</div>
