<% layout('layouts/boiler') %>
<body>
    <h1 class="mt-3"> Edit your listing </h1>
    <div class="row1 mt-5">
        <div class="col col-9 mb-5 offset-2 d-flex">
            
            <div class="form">
                <form method="post" action="/listing/details/<%=id%>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
                    <div class="input mb-3">
                        <label for="title">Title</label>
                        <input type="text" name="title" placeholder="Title" class="form-control" required>
                        <div class="invalid-feedback">
                                 Enter Title of the property !
                            </div>
                            <div class="valid-feedback">
                                 Looks good!
                        </div>
                    </div>
                    <div class="input mb-3">
                        <label for="description">Description</label>
                        <textarea placeholder="description" name="description" class="form-control" required></textarea>
                        <div class="invalid-feedback">
                                 Enter description
                            </div>
                            <div class="valid-feedback">
                                 Looks good!
                        </div>
                    </div>
                    
                    <!-- <div class="d-flex flex-column">
                        <label for="oldthumbnail" class="form-label">Old humbnail image :</label>
                        <img class="img-thumbnail mb-3" name="oldthumbnail" style="width: 200px; height: 150px" src="<%= listing_data.image.url%>" alt="...">
                    </div> -->
                    
                    <div class="mb-3">
                        <label for="formFile" class="form-label">choose image</label>
                        <input class="form-control" type="file" id="formFile" name="listing[image]">
                    </div>

                    <div class="input mb-3">
                        <label for="price">Price</label>
                        <input type="number" name="price" placeholder= &#8377  class="form-control" required>
                        <div class="invalid-feedback">
                                 Enter price 
                            </div>
                            <div class="valid-feedback">
                                 Looks good!
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="input mb-3 col-md-8">
                            <label for="location">Location</label>
                            <input type="text" name = "location" placeholder="Delhi, noida" class="form-control" required>
                            <div class="invalid-feedback">
                                 Enter location of the property 
                            </div>
                            <div class="valid-feedback">
                                 Looks good!
                        </div>
                        </div>
                        <div class="input mb-3 col-md-4">
                            <label for="country">Country</label>
                            <input type="text" name = "country" placeholder="India" class="form-control" required>
                            <div class="invalid-feedback">
                                 Enter country !
                            </div>
                            <div class="valid-feedback">
                                 Looks good!
                        </div>
                        </div>
                        
                    </div>
                    <div class="input mb-3">
                        <a><button type="submit" class="btn btn-primary"> Sumbit</button></a>
                    </div>
                </form>
            </div>
            <div class="editpic">
                <div class="d-flex flex-column ms-5">
                        <label for="oldthumbnail" class="form-label">Old humbnail image :</label>
                        <img class="img-thumbnail mb-3" name="oldthumbnail" style="width: 600px; height: 350px; border-radius: 25px;" src="<%= listing_data.image.url%>" alt="...">
                </div>
            </div>
        </div>
    </div>
    <script>
        (() => {
        'use strict'
        const forms = document.querySelectorAll('.needs-validation')
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
            if (!form.checkValidity()) {
                event.preventDefault()
                event.stopPropagation()
            }
            form.classList.add('was-validated')
            }, false)
        })
        })();
    </script>
</body>
