<% layout('layouts/boiler') %>
<body>
<form class="needs-validation col-8 offset-2 mt-3" novalidate action="/listing" method="post" enctype="multipart/form-data">
    <h1 class="hero_text fs-1"> Add Listing </h1>

    <div class="mb-3">
        <label class="form-label para ps-2" for="title">Title</label>
        <input type="text" name="title" placeholder="Title" class="form-control rounded-pill formbox" required>
        <div class="invalid-feedback ps-3">
            Enter Title of the property !
        </div>
        <div class="valid-feedback ps-3">
            Looks good!
        </div>
    </div>

    <div class="mb-3 mt-1">
        <label class="form-label para ps-2" for="Description">Description</label>
        <textarea placeholder="Description" name="description" class="form-control rounded-pill formbox" required></textarea>
        <div class="invalid-feedback ps-3">
            Enter Description !
        </div>
        <div class="valid-feedback ps-3">
            Looks good!
        </div>
    </div>

<div class="mb-3">
    <label for="formFile" class="para ps-2 fw-semibold text-white">Choose Image</label>
    <div class="formbox1 position-relative mt-2 p-2 d-flex align-items-center rounded-pill gap-3">
        <span class="text-white" id="file-name">No photo added</span>
        <label for="formFile" class="btn text-white rounded-pill px-4 py-2 mb-0">
            <i class="fa-solid fa-cloud-arrow-up me-2"></i> Upload Image
        </label>
        <input class="d-none" type="file" id="formFile" name="listing[image]" required>
    </div>
    <div class="invalid-feedback ps-3">
        Upload an image !
    </div>
    <div class="valid-feedback ps-3">
        Looks good!
    </div>
</div>

    <div class="mb-3">
        <label class="form-label para ps-2" for="price">Price</label>
        <input type="text" name="price" placeholder="&#8377; price" class="form-control rounded-pill formbox" required>
        <div class="invalid-feedback ps-3">
            Enter property price
        </div>
        <div class="valid-feedback ps-3">
            Looks good!
        </div>
    </div>

    <div class="row">
        <div class="mb-3 col-md-8">
            <label class="form-label para ps-2" for="location">Location</label>
            <input type="text" name="location" placeholder="Delhi, Noida" class="form-control rounded-pill formbox" required>
            <div class="invalid-feedback ps-3">
                Enter property location
            </div>
            <div class="valid-feedback ps-3">
                Looks good!
            </div>
        </div>

        <div class="mb-3 col-md-4">
            <label class="form-label para ps-2" for="country">Country</label>
            <input type="text" name="country" placeholder="India" class="form-control rounded-pill formbox" required>
            <div class="invalid-feedback ps-3">
                Enter country
            </div>
            <div class="valid-feedback ps-3">
                Looks good!
            </div>
        </div>
    </div>

    <button type="submit" style="width: 180px;" class="btn btn-primary mt-3 mb-5 p-2 rounded-pill ms-1">Submit</button>
</form>

<script>
(() => {
  'use strict'

  const forms = document.querySelectorAll('.needs-validation')

  Array.from(forms).forEach(form => {
    form.addEventListener('submit', event => {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')
    }, false)
  })
})()
</script>
</body>
