<% layout('layouts/boiler') %>
<form action="/login" method="post" class="col-6 offset-3 mt-5" >
  <h1 class="hero_text fs-1"> Login </h1>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label para ps-2">Username</label>
    <input type="text" class="form-control formbox rounded-pill" name="username" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="xyz">
    <div id="emailHelp" class="form-text para1 ms-2">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label para ps-2">Password</label>
    <input type="password" class="form-control formbox rounded-pill" name="password" placeholder="xyz" id="exampleInputPassword1">
  </div>
  <button type="submit" class="btn btn-primary rounded-pill px-5 mt-2 ms-1">Submit</button>
</form>