<% layout('layouts/boiler') %>
<body>
<div 
  class="row row-cols-xs-1 row-cols-sm-2 row-cols-md-2 row-cols-xxl-3 mt-3 g-3"
  >

  <% for (let item of results) { %>
    <div class="col">
      <div class="listingcard d-flex justify-content-center">
        <a 
        href="/listing/details/<%= item._id %>" 
        class="text-decoration-none text-dark"
        >
          <div class="position-relative">
            <div
              class="hero_widget_btn position-absolute bottom-0 start-0 text-white p-2"
            >
             <button class="modern-btn p-2 px-2 rounded-pill">
                <b class="fw-semibold"
                  >&#8377; <%= item.price.toLocaleString("en-IN") %></b
                >/nights
              </button>
            </div>
          <img 
           src="<%= item.image.url %>"
           class="card-img-top img-fluid w-md-75"
            alt="Listing Image"
            />
          </div>

          <div class="card-body">
            <p class="para card-text mx-auto">
              <%= item.title %><br>
            </p>
          </div>
        </a>
      </div>
    </div>
  <% } %>
</div>
    
</body>
</html>