<% layout('layouts/boiler') %>
<body>
<form class="needs-validation signup col-6 offset-3 mt-3" novalidate action="/signup" method="post">
    <h1> SignUp </h1>
    <div class="mb-3">
     <label for="exampleInputuser" class="form-label">Username</label>
     <input type="text" class="form-control" name="username" id="exampleInputuser" aria-describedby="emailHelp" required>
     <div class="invalid-feedback">
            Enter username
    </div>
    <div class="valid-feedback">
            Looks good!
    </div>
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="abc@gmail.com" required>
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    <div class="invalid-feedback">
            Enter valid email
    </div>
    <div class="valid-feedback">
            Looks good!
    </div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control"   name="password" id="exampleInputPassword1" required>
    <div class="invalid-feedback">
            Enter password !
    </div>
    <div class="valid-feedback">
            Looks good!
    </div>
  </div>
  <button type="submit" class="btn btn-primary mt-3">Submit</button>
</form>

<script>
  (() => {
    'use strict'

    const forms = document.querySelectorAll('.needs-validation')

    Array.from(forms).forEach(form => {
      form.addEventListener('submit', event => {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
  })()
</script>
</body>